.divider{
    margin-top: 20px !important;
    margin-bottom: 10px !important;
    background-color: black ;
}

.text{
    margin-top:10px;
    font-size: 19px;
}
.paper{
    height:fit-content;
    width:95%;
}