.react-date-picker__wrapper {
    height: 3rem !important;
}
.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input.Mui-disabled {
    opacity: 3;
    -webkit-text-fill-color: none !important;
    color: black;
}
 .date input {
    color: black !important;
}
.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input.Mui-disabled {
    opacity: 1;
    -webkit-text-fill-color:rgb(12 12 12 / 96%);
}
input[type=date] {
   
    background: white !important;
    text-transform: uppercase !important;
}
.css-1hhziy4-MuiInputBase-root-MuiInput-root input[type=date] {
 
    background: white !important;
    border: none;
    text-transform: uppercase !important;
}
.css-het9lb-MuiInputBase-root-MuiInput-root input {
    margin-left: 10px;
}
.css-het9lb-MuiInputBase-root-MuiInput-root textarea {
    margin-left: 10px;
}
