.css-j204z7-MuiFormControlLabel-root .MuiFormControlLabel-label {
    font-size: 12px;
}
.radio{
    min-width: max-content !important;
}


.inner_content>div:nth-child(2){
    overflow: auto;
    //margin: 10px;
  }
  
  body{
    overflow: auto;
  }