.react-date-picker__wrapper {
    height: 3rem !important;
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input.Mui-disabled {
    opacity: 3;
    -webkit-text-fill-color: none !important;
    color: black;
}
 .date input {
    color: black !important;
}
.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input.Mui-disabled {
    opacity: 1;
    -webkit-text-fill-color:rgb(12 12 12 / 96%);
}
