.react-date-picker__wrapper {
    height: 3rem !important;
}

 .inputTextField  {
    color: black !important;
}
.date input{ 
    opacity: 1;
    -webkit-text-fill-color:rgb(12 12 12 / 96%);




    color: black !important;
}
