.css-j204z7-MuiFormControlLabel-root .MuiFormControlLabel-label {
    font-size: 13px;
  

}
.textfield1 input{
    height: 0.675em !important;
}
.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
    height:0.415em
}