.App {
  text-align: center;
}

body{
  overflow: auto;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
   -webkit-box-shadow: 0 0 0 30px #ffffff inset !important;
}


.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {


  letter-spacing: inherit;
  color: currentColor;
  padding: 4px 0 5px;
  border: 0;
  box-sizing: content-box;
  background: none;
  height: 0.2375em !important;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  display: block;
  min-width: 0;
  width: 100%;
  -webkit-animation-name: mui-auto-fill-cancel;
  animation-name: mui-auto-fill-cancel;
  -webkit-animation-duration: 10ms;
  animation-duration: 10ms;
  padding: 16.5px 37px;
  padding-right: 23px;
}
.dateclass{
  height: 35px;
}

.custom-date-input {
  position: relative;
  display: inline-block;
  border:#00000042
}

.date-picker-wrapper {
  display: flex;
  width:100% !important;
  align-items: center;
  position: relative;
}
.react-datepicker-wrapper {
  width: 100%;
  display: inline-block;
  padding: 0;
  border: 0;
}

.dateclass {
 
  width: 100%; /* Ensure full width for proper styling */
  box-sizing: border-box; /* Include padding in width */
  height: 35px;
}

.calendar-icon {
  position: absolute;
  right: 10px;
  cursor: pointer;
  color: #888;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.loding_spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.tabview {
  height: 0px;
}

.tabview ul {
  list-style-type: none;
  margin: 0 auto;
  z-index: 1;
  width: fit-content;
  display: flex;
  padding: 0px;
}

.tabview ul li {
  display: flex;
  border-radius: 5px;
}

.tabview li:nth-child(1) {
  background-color: #FFFFFF;
  width: 8rem;
  height: 7rem;
}

.tabview li:nth-child(2) {
  vertical-align: middle;
  display: flex;
  margin: auto 20px !important;
}

.tabview li:nth-child(3) {
  background-color: #FFFFFF;
  width: 8rem;
  height: 7rem;
}

.tabview button {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: 5px solid transparent;
}

.tabview button.active {
  border: 5px solid rgba(0, 149, 221, 0.6) !important;
  border-radius: 5px;
}

.underline-none .MuiInput-underline::after {
  border-bottom: none !important;
}

.underline-none .MuiInput-underline::before {
  border-bottom: none !important;
}

.error {
  font-size: 12px;
  color: red;
  text-align: left;
}

.tabview img {
  height: 3rem;
  width: auto !important;
}

@media (min-width: 768px) and (max-width: 998px) {
  .tabview li:nth-child(1) {
    width: 6rem;
    height: 4rem;
  }

  .tabview li:nth-child(3) {
    width: 6rem;
    height: 4rem;
  }

  .tabview img {
    height: 2rem;
    width: auto !important;
  }
}

@media (min-width: 0px) and (max-width: 768px) {
  .tabview li:nth-child(1) {
    width: 6rem;
    height: 4rem;
  }

  .tabview li:nth-child(3) {
    width: 6rem;
    height: 4rem;
  }

  .tabview img {
    height: 1.5rem;
    width: auto !important;
  }
}

// overlay class
.overlay-div:hover {
  right: 0.9% !important;
}

.overlay-div {
  position: fixed;
  right: 0.9%;
  width: fit-content;
  z-index: 1;
  transform: rotate(270deg);
  transform-origin: right;
  top: 15%;
}

// size of icon comes here 
.overlay-div .overlay-div-group {
  display: flex;
  font-weight: 500;
  font-size: 12px;
  @media screen and (max-width:1024px) {
    font-size: 6.5px;
  }
}

.overlay-div .overlay-div-group div {
  margin: 0px 7px;
  height: 30px;
  min-width: max-content;
}

// overlay class end

// ------------------------------------------------ viewInstructions btn css-----------------------------------------------
.viewInstructions:hover {
  transform: scale(1.1);
  z-index: 100;
}

.viewInstructions:hover.viewInstructions:before {
  left: -39 !important;
}

.viewInstructions:before {
  border-left: 20px solid transparent;
  border-right: 20px solid #6b7b88;
  border-top: 30px solid transparent;
  position: absolute;
  top: 0px;
  left: -39px;
  content: "";
  width: 0px;
  height: 0px;
}

.viewInstructions:after {
  border-left: 20px solid #6b7b88;
  border-right: 20px solid transparent;
  border-top: 30px solid transparent;
  position: absolute;
  top: 0px;
  right: -39px;
  content: "";
  width: 0px;
  height: 0px;
}

.viewInstructions {
  margin-top: auto !important;
  padding: 3px 20px;
  position: relative;
  cursor: pointer;
  background: #6b7b88;
  width: auto;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  color: #fff;
  z-index: 0;
  border: none;
  height: 30px;
}

// ------------------------------------------------ viewInstructions btn css end-----------------------------------------------

// ------------------------------------------------ viewform btn css ----------------------------------------------------------

.viewform:hover {
  transform: scale(1.1);
  z-index: 100;
}

.viewform {
  margin-top: auto !important;
  height: 30px;
  position: relative;
  background: #8A5E00;
  cursor: pointer;
  width: auto;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  color: #fff;
  z-index: 1;
  border: none;
  padding: 3px 10px;
}

.viewform:before {
  border-left: 20px solid transparent;
  border-right: 20px solid #8A5E00;
  border-top: 30px solid transparent;
  position: absolute;
  top: 0px;
  left: -39px;
  content: "";
  width: 0px;
  height: 0px;
}

.viewform:after {
  border-left: 20px solid #8A5E00;
  border-right: 20px solid transparent;
  border-top: 30px solid transparent;
  position: absolute;
  top: 0px;
  right: -39px;
  content: "";
  width: 0px;
  height: 0px;
}

.popup-sidemenu-active {
  display: block;
  position: absolute;
  right: 0px;
  width: 300px;
  min-height: 250px;
  background: #d8dce6;
  z-index: 999;
  padding: 0px;
  transition: all 1.5s ease;

  .popup-sidemenu-inner-div {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 0 10px 10px 10px;

    .content {
      background-color: white;
      margin-top: 10px;

      h5 {
        width: 100%;
        height: 36px;
        text-align: center;
        padding-top: 9px;
        color: #000;
        background-color: #e7e7e7;
        font-weight: normal;
        margin-bottom: 0;
        border-radius: 0px;
        font-size: 13px;
        font-weight: 500 !important;
      }

      a:hover {
        cursor: pointer;
        text-decoration: underline;
      }

      a {
        padding-top: 5px;
        padding-bottom: 5px;
        padding-top: 5px;
        width: 100%;
        text-align: center;
        display: block;
        font-size: 11px !important;
      }
    }

    button {
      position: absolute;
      left: -28px;
      top: -10px;
      margin: 0px;
      width: 30px;
      height: 40px;
      font-size: 21px;
      background: #6b7b88;
      text-align: center;
      color: #fff;
      cursor: pointer;
      padding: 0px;
      line-height: normal !important;
      font-family: sans-serif;
      border: none;
    }
  }
}

.popup-sidemenu-inactive {
  display: none;
  transition: all 1.5s ease;
}

// ------------------------------------------------ viewform btn css end-----------------------------------------------

// ------------------------------------------------ helpvideo btn css ----------------------------------------------------------

.helpvideo:hover {
  transform: scale(1.1);
  z-index: 100;
}

.helpvideo a {
  color: #fff;
  text-decoration: none !important;
}

.helpvideo {
  margin-top: auto !important;
  height: 30px;
  position: relative;
  background: #006394;
  cursor: pointer;
  width: auto;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  color: #fff;
  z-index: 2;
  border: none;
  padding: 3px 10px;
}

.helpvideo:before {
  border-left: 20px solid transparent;
  border-right: 20px solid #006394;
  border-top: 30px solid transparent;
  position: absolute;
  top: 0px;
  left: -39px;
  content: "";
  width: 0px;
  height: 0px;
}

.helpvideo:after {
  border-left: 20px solid #006394;
  border-right: 20px solid transparent;
  border-top: 30px solid transparent;
  position: absolute;
  top: 0px;
  right: -39px;
  content: "";
  width: 0px;
  height: 0px;
}

// ------------------------------------------------ helpvideo btn css end-----------------------------------------------

.steper-check-icon {
  width: 10px;
}

.steper-check-icon-solid {
  width: 18px;
}

.stepper {
  .accordian-header {
    img {
      opacity: 0;
    }
  }

  .accordian-header .active {
    img {
      opacity: 1;
    }
  }

  ul li::before {
    background: url(assets/img/check.png);
    content: "";
    width: 15px;
    height: 15px;
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 10px;
    margin-top: auto;
    opacity: 0;
  }

  ul li.active::before {
    opacity: 1 !important;
  }

  ul {
    padding: 0px;

    li {
      display: flex !important;
      color: #535353;
      font-size: 13px;
      padding: 6px 0;
      display: table;
      list-style: none;
    }
  }

  .MuiAccordionDetails-root {
    padding: 0px;

    .MuiPaper-rounded {
      background-color: #f0f0f0 !important;
      padding: 15px 20px;
    }
  }
}

.bg-none {
  background-color: none !important;
  background: none !important;
}

.stepper .MuiPaper-elevation {
  margin-top: 0 !important;
  margin-bottom: 2px;
}

.stepper p {
  padding: 0px;
  color: #333333;
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
  margin-right: 10px;
  width: 100%;
  text-align: left;
}

.forms-card-data {
  .check-div {
    display: none;
  }

  .active .check-div {
    display: block !important;
  }

  .MuiPaper-rounded {
    position: relative;
  }

  .check-div {
    position: absolute;
    top: 4px;
    left: 4px;

    img {
      height: 40px;
    }
  }

  .disabled {
    opacity: 0.8;
    background: #dddddd;
  }
}

.html2canvas-container {
  width: 3000px !important;
  height: 3000px !important;
}

@media print {
  .pagebreak {
    page-break-before: always !important;
    page-break-after: always !important;
    clear: both;
  }

  /* page-break-after works, as well */
}

.inputTextField {
  border: 1px solid #d9d9d9;
  height: 36px;
  line-height: 36px;
  background-color: #fff;
  font-size: 13px;
  color: #000;
  font-size: normal;
  border-radius: 1px;
  padding: 0 10px;
}

.backGround_Image, .inner_content {
  background: #052035 url(../src/assets/img/bg_login.jpg) no-repeat top center !important;
  background-size: contain !important;
  background-attachment: fixed !important;
   min-height: 100vh;
}

.blackText {
  div {
    input {
      color: black !important;
      -webkit-text-fill-color: rgb(0 0 0) !important;
    }
  }
}

.iconWhite{
  background-color: #FFFFFF !important;
}


.sessionAlertClass{
  position: relative;
  top: 0;
  width: 100%;
}

