.detailsbox{
    display: grid;
    grid-template-columns: 1fr 1fr;    
}

// .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input{
//     box-sizing: inherit !important;
//     height: 36px  !important;
//     width: 36px;
// }

.recoverPassword{
    font-size: 12px;
    align-self: center;
    justify-self: center;
}